body {
 /*background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ac824598-245b-4828-b14f-5cff9074f4d0/fb712c44-8412-439f-8857-e4065901e342/MX-es-20220822-popsignuptwoweeks-perspective_alpha_website_large.jpg");*/
background-color: whitesmoke;
}

.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}





